
<form method="post" action="/Dealerships/Create">
    <label>
        Dealership Name
        <input type="text" name="DealershipName" />
    </label>

    <label>
        Street Address 1
        <input type="text" name="StreetAddress1" />
    </label>
    <label>
        Street Address 2
        <input type="text" name="StreetAddress2" />
    </label>
    
    <label>City
        <input type="text" name="City" />
    </label>

    @*<label>State
        <input type="text" name="StateID" />
    </label>*@
    <label>Zipcode
        <input type="text" name="Zipcode" />
    </label>
    <input type="submit" />
</form>

